<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Система управления персоналом</h1>
    <hr>
    <h2>Добавить проект</h2>

    <form th:action="@{/manager/projects/save}" th:object="${project}"
          method="POST">

        <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
            <p th:if="${#fields.hasErrors('name')}">- Имя должно быть больше 1 и меньше 30 символов</p>
            <p th:if="${#fields.hasErrors('description')}">- Описание должно быть больше 1 и меньше 300 символов</p>
            <p th:if="${#fields.hasErrors('dateAdded')}">- Дата старта проекта обязательна</p>
            <p th:if="${#fields.hasErrors('deadline')}">- Дедлайн обязательный</p>
            <p th:if="${#fields.hasErrors('customerId')}">- Заказчик обязательный</p>
            <p th:if="${#fields.hasErrors('price')}">- Стоимость должна быть больше 100$ и меньше 999'999$</p>
        </div>

        <input type="text" th:field="*{name}"
               placeholder="Название" th:class="${#fields.hasErrors('name')}? 'form-control mb-4 col-4 is-invalid' : 'form-control mb-4 col-4'">

        <textarea th:field="*{description}" placeholder="Описание" th:class="${#fields.hasErrors('description')}? 'form-control mb-4 col-4 is-invalid' : 'form-control mb-4 col-4'">
        </textarea>

        <input type="text" th:field="*{dateAdded}"
               placeholder="Дата начала разработки" th:class="${#fields.hasErrors('dateAdded')}? 'form-control mb-4 col-4 is-invalid datepicker' : 'form-control mb-4 col-4 datepicker'">

        <input type="text" th:field="*{deadline}"
               placeholder="Дедлайн" th:class="${#fields.hasErrors('deadline')}? 'form-control mb-4 col-4 is-invalid datepicker' : 'form-control mb-4 col-4 datepicker'">

        <label th:for="*{customerId}">Заказчик</label>
        <select th:field="*{customerId}" th:class="${#fields.hasErrors('customerId')}? 'form-control mb-4 col-4 is-invalid' : 'form-control mb-4 col-4'">
            <option th:each="cmr : ${listCustomers}" th:value="${cmr.id}" th:text="${cmr.lastName}"></option>
        </select>

        <label th:for="*{price}">Стоимость($)</label>
        <input type="number" th:field="*{price}" th:class="${#fields.hasErrors('price')}? 'form-control mb-4 col-4 is-invalid' : 'form-control mb-4 col-4'">

        <button type="submit" class="btn btn-info col-2">Добавить</button>
    </form>

    <hr>

    <a th:href="@{/manager/projects}">Вернуться к списку сотрудников</a>
</div>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({
            format: "yyyy-mm-dd",
            viewMode: "years",
            minViewMode: "days",
            autoclose: true
        });
    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
</body>
</html>